* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Roboto Slab' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
}

.back {
  background-image: url('../background03.jpg');
}

.login-logo img {
  position: flex;
  right: auto;
  width: 500px;
  height: 500px;
}

.login-right {
  margin-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: #11283b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 500px;
  border-radius: 50px;
}

.login-right h1 {
  font-family: "Roboto Slab";
  color: whitesmoke;
  font-size: 50px;
  margin-bottom: 40px;
}

.login-right h4 {
  left: auto;
  font-family: "Roboto Slab";
  font-weight: 700;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #e1e1e6;
}

.loginInputEmail {
  display: flex;
  align-items: center;
  color: grey;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 3px;
  width: 98%;
  height: 50px;
}

.loginInputEmail svg {
  margin-left: 10px;
}

.loginInputEmail input {
  background: transparent;
  width: 500px;
  outline-width: 0;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.loginInputPassword {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: grey;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 3px;
  width: 98%;
  height: 50px;
}

.loginInputPassword svg {
  margin-left: 10px;
}

.loginInputPassword input {
  background: transparent;
  width: 500px;
  outline-width: 0;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.submitButton {
  font-family: 'Roboto Slab';
  width: 450px;
  background-color: grey;
  color: black;
  font-weight: 700;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 10px;
  border: none;
  outline-width: 0;
}


.submitButton:hover {
  cursor: pointer;
  background-color: #00924c;
  color: white;
}

.login-eye {
  align-items: center;
  justify-content: center;
  font-size: 30;
  cursor: pointer;
  margin-right: 10px;
}